body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-size: 140%;
}

.header {
  padding: 20px;
  background-color: #2299cb;
  color: white;
}
.header .log-info {
  float: right;
}
.header .log-info div {
  display: inline;
}
.logout {
  color: paleturquoise;
}
