.list li {
  width: 100%;
  background-color: white;
  border-bottom: 1px black solid;
}
.header div,
.details div {
  display: inline-block;
}
.details {
  display: none;
}
.main .name {
  width: 60%;
}
.main .price {
  color: red;
}
.signup {
  float: right;
}
