.list{
	display: table;
}
.list li {
display: table-row;
  cursor: pointer;
  width: 100%;
}
.list li div {
    display: table-cell;
    border-bottom: 1px solid #ddd;
    padding: 4px;
}
.list li:hover {
  background-color:#ddd;
}
