.list{
	display: table;
}
.list li {
	display: table-row;
  cursor: pointer;
  background-color: #f5ebff;
  /* padding: 2px 10px; */
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.list li div {
    display: table-cell;
    border-bottom: 1px solid #ddd;
    padding: 4px;
}
.list li:hover {
  background-color:#ddd;
}
