body {
  background-color: #eee;
}

li {
  cursor: pointer;
  width: fit-content;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
li .checkBox {
  margin-right: 10px;
  color: lightblue;
}
li .checkBox.checked {
  color: deepskyblue;
}
.tab {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 60px;
}
