.activity.grid, .category-header .grid {
    grid-template-columns: 2fr 1.25fr 2.25fr 1fr 1fr 0.5fr 0.75fr 1fr 1fr;
    grid-template-rows: minmax(25px, auto);
    grid-template-areas:
        "name age schedule session price cours location staff start";
}
.secourisme .staff {display:none!important;
}
.activity.grid.secourisme, .secourisme.category-header .grid {
    grid-template-columns: 3fr 1.25fr 2.25fr 1fr 1fr 0.5fr 0.75fr 1fr;
    grid-template-rows: minmax(25px, auto);
    grid-template-areas:
        "name age schedule session price cours location start";
}
.category-header .grid div:last-child {
    border-right: 0!important;
}
.category-header{
	page-break-before: always;
}
#app{
	padding-top:0;
	padding-bottom:0;
	width:1024px;
}
#app .header{
	display:none;
	
}
.signup, .info{
	display:none!important;
}
    div, li {
        page-break-inside: avoid;
    }
#app ul li {
    line-height: 1.15;
}
li.activites-sportives{
	line-height: 1.15!important;
}
li.arts{
	line-height: 1.35!important;
}
li.danse{
	line-height: 1.15!important;
}
li.arts-martiaux{
	line-height: 1.15!important;
}
li.secourisme{
	line-height: 1.15!important;
}
li.langues{
	line-height: 1.15!important;
}